@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Səhv aşkarlandı</title>

    <!-- Google font -->
   

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/UI/css/custom.css" />


    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>




<body>

    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <div></div>
                <h1>404</h1>
            </div>
            <h2>Səhİfə tapılmadı</h2>
            <p>Axtardığınız səhifə, adı dəyişdirilmiş və ya müvəqqəti olaraq işlədilmir.</p>
            <a href="@Url.Action("index","home")">əsas səhİfə</a>
        </div>
    </div>

</body>

</html>
