@model IEnumerable<Xpedia.Models.Brand>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}



<p>
    @Html.ActionLink("Yarat", "Create",null,new {@class="btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
          Marka adı
        </th>
        <th>Funksiyalar</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Düzəliş et", "Edit", new { id=item.ID },new {@class= "btn btn-info"}) |
        
            @Html.ActionLink("Sil", "Delete", new { id=item.ID }, new { @class ="btn btn-danger" })
        </td>
    </tr>
}

</table>
