@media (max-width: 1199px) and (min-width: 991px) {
    .x_car_acc_price_dollar_wrapper {
        padding-bottom: 60px;
    }

    .x_car_offer_heading_avanti li:nth-child(2) {
        display: none;
    }

    .x_car_offer_heading_avanti li {
        width: 33.33%;
    }

    .hs_main_menu a {
        padding: 35px 17px 36px;
    }
}

@media (max-width: 1700px) {
    .x_why_left_main_wrapper {
        left: -300px;
    }
}

@media (max-width: 1500px) {
    .x_why_left_main_wrapper {
        left: -500px;
    }
}

@media (max-width: 1400px) {
    .x_slider_bottom_box_wrapper {
        padding-left: 20px;
    }
}

@media (max-width: 1199px) {
    .btc_team_slider_wrapper .owl-theme .owl-nav {
        left: -280px;
        top: 240px;
    }

    .x_news_contact_second_wrapper {
        padding-left: 40px;
    }

        .x_news_contact_second_wrapper:after {
            left: 19px;
        }

    .slider-area .carousel-inner .carousel-item .carousel-captions .content_tabs {
        padding-top: 140px;
    }

    .x_slider_bottom_box_wrapper i {
        width: 100%;
    }

    .x_slider_bottom_box_wrapper h3 {
        padding-left: 0;
        width: 100%;
        padding-top: 30px;
    }

    .x_book_logo_heading_wrapper:after {
        left: -50px;
    }

    .x_why_left_main_wrapper {
        left: -600px;
    }

    .x_footer_top_title_box_icon_cont_first {
        margin-left: 0 !important;
    }

    .x_footer_top_title_box_icon_cont {
        margin-left: 30px;
    }

    .x_car_offer_starts_list_img {
        float: left;
        width: 200px;
        border-right: 1px solid #eeeeee;
    }

    .x_car_offer_starts_list_img_cont {
        float: left;
        width: calc(100% - 200px);
        padding-top: 38px;
    }

    .x_car_offer_img_list img {
        width: 100%;
    }
}

@media(min-width: 768px) and (max-width: 992px) {
    .x_slider_form_main_wrapper {
        margin-top: 0 !important;
    }
}

@media (max-width: 991px) {
    .btc_team_left_wrapper {
        width: 100%;
        text-align: center;
    }

        .btc_team_left_wrapper h3:after {
            left: 0;
            right: 0;
            margin: 0px auto;
        }

    .btc_team_right_wrapper {
        width: 100%;
        margin-top: 40px;
    }

    .btc_team_slider_wrapper .owl-theme .owl-nav {
        top: 40% !important;
        left: 0 !important;
    }

        .btc_team_slider_wrapper .owl-theme .owl-nav .owl-next {
            left: auto;
            right: 0;
        }

    .x_top_header_social_icon_wrapper {
        display: none;
    }

    .hs_main_menu a {
        padding: 35px 5px 36px;
        font-size: 14px;
    }

    .slider-area .carousel-inner .carousel-item .carousel-captions .content {
        padding-top: 180px;
        padding-bottom: 180px;
    }

    .slider-area .carousel-inner .carousel-item .caption-1, .slider-area .carousel-inner .carousel-item .caption-2, .slider-area .carousel-inner .carousel-item .caption-3 {
        min-height: 650px;
    }

    .x_slider_form_main_wrapper {
        box-shadow: 0px 0 8px rgba(0, 0, 0, 0.1);
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .x_slider_bottom_box_wrapper {
        width: 50%;
        border-top: 1px solid #eeeeee;
        text-align: center;
    }

    .x_cou_main_box_wrapper:after, .x_cou_main_box_wrapper:before {
        display: none;
    }

    .x_book_logo_heading_wrapper:after {
        display: none;
    }

    .x_why_left_main_wrapper {
        display: none;
    }

    .x_why_right_main_wrapper {
        width: 100%;
    }

    .x_news_contact_wrapper {
        width: 100%;
    }

    .x_news_contact_second_wrapper {
        padding-left: 0;
    }

        .x_news_contact_second_wrapper:after {
            display: none;
        }

    .x_news_contact_search_wrapper {
        width: 100%;
        margin-top: 20px;
    }

    .x_footer_top_left {
        text-align: center;
    }

    .x_footer_top_right {
        display: none;
    }

    .x_title_num_heading:after {
        display: none;
    }

    .x_title_num_heading {
        width: 100%;
    }

    .x_title_num_heading_cont {
        width: 100%;
    }

    .x_title_inner_num_wrapper {
        padding: 30px;
    }

    .x_title_num_main_box_wrapper {
        margin-top: 30px;
    }

    .x_carbooking_right_section_wrapper {
        margin-top: 60px;
    }

    .x_about_seg_img_cont_wrapper {
        padding-top: 40px;
    }

    .cont2:after, .cont2:before {
        display: none;
    }

    .x_serv_progress_img {
        margin-top: 60px;
    }

    .x_blog_right_side_wrapper {
        margin-top: 60px;
    }

    .admin_img_wrapper {
        width: 100%;
    }

    .admin_cont_wrapper {
        width: 100%;
        padding-left: 30px;
        margin-left: 0;
        float: left;
        padding-top: 30px;
        padding-right: 30px;
    }

    .admin_img_wrapper {
        margin-top: 0;
    }

    .x_car_detail_main_wrapper {
        margin-top: 40px;
    }

    .x_slider_form_main_wrapper {
        margin-top: 0;
    }

    .x_responsive_form_wrapper2 {
        margin-top: 30px;
    }

    .x_service_inner_main_box {
        padding-left: 20px !important;
    }

    .x_car_offer_starts_list_img_cont {
        padding-top: 22px;
    }
}

@media (max-width: 767px) {
    .language, .usd {
        display: none;
    }

    .x_top_header_all_select_box_wrapper li:last-child {
        margin-right: 15px;
    }

    .x_top_header_left_side_wrapper p {
        padding-left: 15px;
    }

    .x_top_header_left_side_wrapper:before {
        width: 680px;
    }

    .x_top_header_left_side_wrapper:after {
        right: -16px;
    }

    .slider-area .carousel-inner .carousel-item .carousel-captions .content h2 {
        font-size: 32px;
        line-height: 40px;
    }

    .form-sec-header label {
        height: auto;
    }

    .x_book_logo_heading_wrapper, .x_book_logo_btn {
        margin-top: 30px;
    }

    .x_title_inner_num_wrapper {
        display: none;
    }

    .x_car_book_left_siderbar_wrapper {
        padding-top: 70px;
    }

    .x_carbook_right_tabs_box_wrapper p {
        display: none;
    }

    .x_carbook_right_tabs_box_wrapper .nav-tabs {
        float: left;
        margin-top: 30px;
    }

        .x_carbook_right_tabs_box_wrapper .nav-tabs .nav-item:first-child {
            margin-left: 0;
        }

    .btc_tittle_left_heading {
        text-align: center;
    }

    .btc_tittle_right_heading {
        text-align: center;
        margin-top: 20px;
    }

    .btc_tittle_right_cont_wrapper ul {
        float: none;
        display: inline-block;
        margin-left: 0;
    }

    .btc_third_pegi, .btc_four_pegi {
        display: none;
    }

    .pagination > li:first-child > a {
        width: 50px;
        margin-right: 5px;
    }

    .pagination > li > a {
        margin-right: 5px;
    }

    .pagination > li:last-child > a {
        margin-left: 0;
        width: 50px;
    }

    .x_car_offer_starts_list_img {
        width: 100%;
    }

    .x_car_offer_starts_list_img_cont {
        width: 100%;
    }

    .x_car_access_right_price_main_box_inner_left_wrapper {
        width: 100%;
    }

    .x_car_access_right_price_main_box_inner_right_wrapper {
        width: 100%;
    }

    .x_car_access_right_price_img_wrapper {
        width: 100%;
        padding-bottom: 20px;
    }

    .x_car_access_right_price_img_cont_wrapper, .x_car_acc_price_dollar_wrapper, .x_car_acc_price_dollar_count_wrapper {
        width: 100%;
        padding-top: 0;
        text-align: left;
        padding-left: 30px;
        padding-bottom: 10px;
    }

    .x_car_access_right_price_main_box_wrapper {
        padding-bottom: 20px;
    }

    .heading-block h4 {
        display: block;
    }

    .checkout_login_btn {
        float: left;
        padding-top: 60px;
        padding-bottom: 30px;
    }

        .checkout_login_btn p {
            width: 100%;
            float: left;
            padding-top: 10px;
        }

        .checkout_login_btn ul {
            width: 100%;
            float: left;
        }

    .btc_ln_slider_wrapper_cs {
        margin-top: 40px;
    }

    .x_ln_car_heading_wrapper h3 {
        padding-top: 0;
    }

    .hs_logo {
        padding-top: 23px;
    }

    .x_car_offer_starts_list_img_cont {
        padding-top: 0;
    }

    .x_car_offer_img_list img {
        width: auto;
    }

    .x_css_skills_wrapper {
        width: 100%;
    }

    .x_css_skills_form_wrapper {
        width: 100%;
        padding-left: 0;
        padding-top: 10px;
    }
}

@media (max-width: 580px) {

    .x_slider_bottom_box_wrapper {
        width: 100%;
        border-left: 0;
    }

    .x_offer_tabs_wrapper .nav li {
        float: none;
    }

    .x_offer_tabs_wrapper .nav-tabs li:first-child .nav-link.active {
        -webkit-border-top-left-radius: 0;
        -moz-border-top-left-radius: 0;
        border-top-left-radius: 0;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-bottom-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .x_offer_tabs_wrapper .nav-tabs li:last-child .nav-link.active {
        -webkit-border-top-right-radius: 0;
        -moz-border-top-right-radius: 0;
        border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        -moz-border-bottom-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .x_offer_tabs_wrapper .nav {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    .btc_ln_slider_wrapper .owl-theme .owl-nav {
        right: 0;
        left: 0;
        top: 40%;
    }

        .btc_ln_slider_wrapper .owl-theme .owl-nav .owl-next {
            left: auto;
            right: 0;
        }

    .x_news_contact_search_wrapper input {
        width: 100%;
        float: none;
    }

    .x_news_contact_search_wrapper button {
        float: none;
        margin-left: 0;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .login, .register {
        display: none;
    }

    .x_slider_checout_left {
        width: 100%;
    }

    .x_slider_checout_right {
        width: 100%;
    }

    .blog_comment1_img {
        width: 100%;
        float: left;
    }

        .blog_comment1_img img {
            width: auto;
        }

    .blog_comment1_cont {
        width: 100%;
        float: left;
        margin-left: 0;
    }

    .gc_blog_quote_wrapper h3 {
        top: 21%;
    }

    .x_car_offer_heading_list {
        width: 100%;
    }

    .x_car_offer_bottom_btn_list {
        width: 100%;
        padding-top: 0;
    }

    .x_car_offer_heading_list {
        text-align: center;
    }

    .x_car_offer_heading_listing li {
        width: 50%;
    }

        .x_car_offer_heading_listing li:nth-child(3) {
            border-left: 0;
            border-right: 1px solid #eeeeee;
            border-top: 1px solid #eeeeee;
        }

        .x_car_offer_heading_listing li:nth-child(5) {
            border-left: 0;
        }
}

@media (max-width: 380px) {
}

@media (max-width: 320px) {
}
