@model Xpedia.Models.BlogCategory

@{
    ViewBag.Title = "Sil";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}



<h3>Silmək istədiyinizdən əminsiniz mi ?</h3>
<div>
    <h4>BlogCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
