@model IEnumerable<Xpedia.Models.BlogCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}



<p>
    @Html.ActionLink("Yarat", "Create")
</p>
<table class="table">
    <tr>
        <th>
          Bloq kateqoriyası
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Düzəliş et", "Edit", new { id=item.ID },new {@class="btn btn-info" }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.ID },new {@class="btn btn-danger" })
        </td>
    </tr>
}

</table>
